@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

body {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #FFECE9;  
}

html{
    scroll-behavior:smooth;
}

/* Menu */

nav {
    background-color: #ED4621;
    height: 100px;  
    width: 100%;
    display: flex;
    margin-top: -12px;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    margin-top: 10px;
}

.menu li a {
    color: #FFECE9;
    text-decoration: none;
    font-size: 1.2em;
    margin: 100px;
}

.menu li a:hover{
    color: #E9E2E1;
    border-bottom: #FFECE9 solid 1px;
}

/* ul li a:focus{
    background-color: red;
}  */

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('asset/bg.jpg');
    background-size: cover;
    color: #E9E2E1;
    padding: 180px;
    margin-top: -15px;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

header h5 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -21px;
    font-size: 3.2em;
}

/* skill */

.competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.competences h1{
    font-family: 'Josefin Sans', sans-serif;
    color: #3D3635;
    text-transform : uppercase;
    font-size: 40px;
}

.competences h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #3D3635;
    margin-top: -30px;
    font-size: 25px; 
}

.competences p {
    color: #ED4621;
    font-size: 3em;
    margin-top: -50px;
}

.competences-front, .competences-back, .competences-divers {
    display: flex;
    justify-content:space-around; 
}

.competences-front img, .competences-back img, .competences-divers img {
    width: 5%;
    margin-bottom: 55px;
} 

/* projet */ 

.projet {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.projet h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #3D3635;
    text-transform : uppercase;
    font-size: 40px;
}

.projet h3 {
    font-family:'Josefin Sans', sans-serif;
    color: #3D3635;
    margin-top: -30px;
    font-size: 25px; 
}

.projet p {
    color: #ED4621;
    font-size: 3em;
    margin-top: -50px;
}

.container2, .container3 { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.site1 p , .site2 p , .site3 p, .site4 p, .site5 p, .site6 p {
    color: #3D3635;
    font-size: 25px;
    margin-top: -2px;
}

/* footer */

.footer, footer {
    background-color: #E9E2E1;
    width: 100%;
}

footer {
    display: flex;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #3D3635;
    text-transform : uppercase;
    font-size: 40px;
}

.footer p {
    color: #ED4621;
    font-size: 3em;
    margin-top: -50px;
}

.container4{
    display: flex;
    flex-direction:column;   
    width: 50%;
    margin: auto;
}

form {
    display: flex; 
    flex-direction:column;
}

form textarea:hover, input:hover {
    border-bottom: 1px solid #ED4621;
}
form input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;   
    transition: 0.1s;
}

form textarea{
    width: 96.5%;
    resize: none;
    height: 85px;
    margin-bottom: 20px;
}

form button {
    height: 40px;
    width: 100px;
    background-color :#ED4621;
    border: none; 
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
}

.container5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
    width: 50%;

}

.adresse  {
    margin-bottom: 30px;
}

.telephone a {
    text-decoration: none;
    color: #ED4621;
}
.telephone {
    margin-bottom: 30px;
}

